/* Import Tailwind v4 */
@import "tailwindcss";

/* Habilita daisyUI y lista el tema custom (opcional pero recomendado) */
@plugin "daisyui" {
  themes: boardhub-dark --default;
}

/* Bloque para el tema custom (sintaxis oficial v5, con --color- prefix) */
@plugin "daisyui/theme" {
  name: "boardhub-dark";
  default: true;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: #0f172a; 
  --color-base-200: #1e293b; 
  --color-base-300: #334155;

  --color-base-content: #f1f5f9;

  --color-primary: #3b82f6;
  --color-primary-content: #ffffff;

  --color-success: #22c55e;
  --color-error: #ef4444;

  --color-neutral: #475569;
  --color-neutral-content: #f1f5f9;

  --radius-selector: 0.75rem;
  --radius-field: 0.5rem;
  --radius-box: 0.75rem;
}



@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  --color-btn-primary:  rgba(29, 106, 229, 1)
  --color-btn-primary-hover: #1b5cc8;

  --color-container-bg: #334155;

  --color-base-100: #1A263B; 
  --color-base-200: #334155; 
}
