.btn-solid-blue{
  background-color: #3B82F6 !important;
  color: #ffffff !important;
  border-radius: 0.375rem !important;
  border: none !important;
  height: 45px !important;
}
.btn-solid-slate{
  background-color: #334155 !important;
  color: #ffffff !important;
  border-radius: 0.375rem !important;
  border: none !important;
  height: 45px !important;
}
.btn-solid-green{
  background-color: #16A34A !important;
  color: #ffffff !important;
  border-radius: 0.375rem !important;
  border: none !important;
  height: 45px !important;
}
.btn-solid-red{
  background-color: #D64545 !important;
  color: #ffffff !important;
  border-radius: 0.375rem !important;
  border: none !important;
  height: 45px !important;
}
