<div
  class="bg-base-200 rounded-2xl overflow-hidden border border-base-300 hover:border-primary/30 transition-colors group flex flex-col h-auto sm:h-[520px]">
  <!-- Imagen -->
  <div class="relative h-48 sm:h-80 flex-shrink-0 overflow-hidden">

    <img title="games" [src]="game().imageUrl ?? placeholderImage" [alt]="game().title"
      class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300" />

    <!-- Categoría -->
    <span
      class="absolute top-3 sm:top-4 left-3 sm:left-4 text-base-content/70 text-xs sm:text-sm font-medium drop-shadow-lg bg-black/70 px-3 sm:px-4 py-1.5 sm:py-2 rounded-full">
      {{ categoryName }}
    </span>

    <!-- Menú de 3 puntos verticales -->
    <div class="absolute top-3 sm:top-4 right-3 sm:right-4 z-30">
      <button [matMenuTriggerFor]="cardMenu"
        class="flex items-center justify-center bg-black/70 hover:bg-black/90 text-white w-9 h-9 sm:w-10 sm:h-10 rounded-lg cursor-pointer border-none">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

    <mat-menu #cardMenu="matMenu"
      class="!bg-base-200 !rounded-xl !border !border-base-300 mt-1 shadow-2xl min-w-[100px]">

      <div class="p-2 flex flex-col gap-2">

        <app-button matMenuClose label="Editar" icon="edit" variant="outline-green" [fullWidth]="true" justify="start"
          (clicked)="edit.emit(game())" />

        <app-button matMenuClose label="Eliminar" icon="delete_outline" variant="outline-red" [fullWidth]="true" justify="start"
          (clicked)="delete.emit(game())" />

      </div>

    </mat-menu>
  </div>

  <!-- Contenido inferior -->
  <div class="p-4 sm:p-6 flex flex-col flex-grow space-y-3 sm:space-y-4">
    <!-- Título + Precio -->
    <div class="flex items-start justify-between gap-2 sm:gap-3">
      <h3 class="text-base-content font-semibold text-base sm:text-lg line-clamp-2 flex-1">
        {{ game().title }}
      </h3>
      <span
        class="shrink-0 px-2 sm:px-3 py-1 sm:py-1.5 bg-yellow-400 text-gray-900 font-bold text-xs sm:text-sm rounded-md whitespace-nowrap">
        {{ game().pricePerDay | currencyBs }}/día
      </span>
    </div>

    <!-- Jugadores y duración -->
    <div class="flex flex-wrap items-center gap-x-4 sm:gap-x-6 gap-y-1 text-base-content/60 text-xs sm:text-sm">
      <span class="flex items-center gap-1.5">
        <mat-icon class="text-base sm:text-lg">group</mat-icon>
        {{ game().minPlayers }}-{{ game().maxPlayers }} jug.
      </span>
      <span class="flex items-center gap-1.5">
        <mat-icon class="text-base sm:text-lg">schedule</mat-icon>
        {{ game().durationMinutes }}m
      </span>
    </div>

    <!-- Badge de stock -->
    <div class="mt-2 sm:mt-4 flex items-center">
      <app-stock-badge [stock]="game().stockAvailable" />
    </div>
  </div>
</div>